:root {
  --white: #ffffff;
  --white-100: #f2f2f2;
  --gray-100: #0000001a;

  --black: #000000;

  --sky: #4bd4f2;
  --sky-100: #0b8cbf;
  --bule: #0468bf;
  --bule-200: #023e73;
  --bule-300: #011526;

  --yellow: #f2b705;
  --yellow-100: #f29f05;
  --yellow-200: #f27507;

  --red: #f23a29;

  /* pastel */
  --pastel-rose: #c5afb0;
  --pastel-rose-100: #b98780;
  --pastel-rose-200: #b77a71;
  --pastel-rose-300: #9b7070;

  --paster-blue: #cccccc;
  --paster-blue-100: #aababd;
  --paster-blue-200: #8fb6ba;
  --paster-blue-300: #7699a5;
  --paster-blue-400: #445f72;
}

$white: #ffffff;
$white-100: #f2f2f2;
$gray-100: #0000001a;

$black: #000000;

$sky: #4bd4f2;
$sky-100: #0b8cbf;
$blue: #0468bf;
$blue-200: #023e73;
$blue-300: #011526;

$yellow: #f2b705;
$yellow-100: #f29f05;
$yellow-200: #f27507;

$red: #f23a29;
$red-100: #f56060;

$pastel-rose: #c5afb0;
$pastel-rose-100: #b98780;
$pastel-rose-200: #b77a71;
$pastel-rose-300: #9b7070;

$paster-blue: #cccccc;
$paster-blue-100: #aababd;
$paster-blue-200: #8fb6ba;
$paster-blue-300: #7699a5;
$paster-blue-400: #445f72;
