@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin text-truncate($line-count, $line-height) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-count;
  line-height: $line-height;
  max-height: calc($line-count * $line-height);
}

@mixin font-theme($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}
