@import "../styles/custom_calendar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  @apply text-body-02 text-nutral-black-02;
}

::-webkit-scrollbar {
  @apply w-2;
  @apply h-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-nutral-white-03 rounded-full;
}

::-webkit-scrollbar-track {
  @apply bg-nutral-white-01;
}

.modal-transition-enter-active {
  animation: modal-enter 350ms ease-out;
}
.modal-transition-exit-active {
  animation: modal-exit 350ms ease-out;
}

@keyframes modal-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


